# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static/

# Environment variables
.env
.env.*
!.env.example

# Pipenv
.venv
Pipfile.lock

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.sublime-workspace
*.sublime-project

# Database
*.db
*.sqlite3

# Backup files
*.bak
*.tmp
*.temp

# Local development settings
local_settings.py

# Coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover

# Unit test / coverage reports
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
